@import 'tailwindcss';

* {
  cursor: url('../../public/crosshairs/ZeeqPlus2.png') 24 24, cell;
  user-select: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Scrollbar (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}
