@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

* {
  cursor: url('../../public/crosshairs/ZeeqPlus2.png') 24 24, cell !important;
}

body {
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
